body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.red-btn{
  background: red;
  color: #fff
}
.home-title{
  height:64px;
  line-height: 64px;
  text-align: center;
  color: #fff;
}
.ant-layout{
  height: 100vh;
  overflow: auto;
}